

NET "clk" LOC = C9 | IOSTANDARD = LVCMOS33;

#NET "f0" LOC = F12 | IOSTANDARD = LVTTL | PULLDOWN;
#NET "f1" LOC = E12 | IOSTANDARD = LVTTL | PULLDOWN;
#NET "f2" LOC = E11 | IOSTANDARD = LVTTL | PULLDOWN;
#NET "f3" LOC = F11 | IOSTANDARD = LVTTL | PULLDOWN;
#NET "f4" LOC = C11 | IOSTANDARD = LVTTL | PULLDOWN;
#NET "f5" LOC = D11 | IOSTANDARD = LVTTL | PULLDOWN;
#NET "f6" LOC = E9 | IOSTANDARD = LVTTL | PULLDOWN;
#NET "f7" LOC = F9 | IOSTANDARD = LVTTL | PULLDOWN;

#NET "key_code<0>" LOC = F12 | IOSTANDARD = LVTTL | PULLDOWN;
#NET "key_code<1>" LOC = E12 | IOSTANDARD = LVTTL | PULLDOWN;
#NET "key_code<2>" LOC = E11 | IOSTANDARD = LVTTL | PULLDOWN;
#NET "key_code<3>" LOC = F11 | IOSTANDARD = LVTTL | PULLDOWN;
#NET "key_code<4>" LOC = C11 | IOSTANDARD = LVTTL | PULLDOWN;
#NET "key_code<5>" LOC = D11 | IOSTANDARD = LVTTL | PULLDOWN;
#NET "key_code<6>" LOC = E9 | IOSTANDARD = LVTTL | PULLDOWN;
#NET "key_code<7>" LOC = F9 | IOSTANDARD = LVTTL | PULLDOWN;

NET "dekadski_broj<0>" LOC = F12 | IOSTANDARD = LVTTL | PULLDOWN;
NET "dekadski_broj<1>" LOC = E12 | IOSTANDARD = LVTTL | PULLDOWN;
NET "dekadski_broj<2>" LOC = E11 | IOSTANDARD = LVTTL | PULLDOWN;
NET "dekadski_broj<3>" LOC = F11 | IOSTANDARD = LVTTL | PULLDOWN;
NET "dekadski_broj<4>" LOC = C11 | IOSTANDARD = LVTTL | PULLDOWN;
NET "dekadski_broj<5>" LOC = D11 | IOSTANDARD = LVTTL | PULLDOWN;
NET "dekadski_broj<6>" LOC = E9 | IOSTANDARD = LVTTL | PULLDOWN;
NET "dekadski_broj<7>" LOC = F9 | IOSTANDARD = LVTTL | PULLDOWN;

NET "preskok" LOC = V4 | IOSTANDARD = LVTTL | PULLDOWN;
NET "ps2c" LOC = G14 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "ps2d" LOC = G13 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "reset" LOC = H13 | IOSTANDARD = LVTTL | PULLDOWN ;
NET "sljedeci" LOC = D18 | IOSTANDARD = LVTTL | PULLDOWN ;
NET "start" LOC = K17 | IOSTANDARD = LVTTL | PULLDOWN ;
NET "tx" LOC = M14 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;


NET "sw" LOC = L13  | IOSTANDARD = LVTTL |PULLUP;
